.cart {
  /* width: 100px;
  height: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: aqua; */
  /* margin: 0;
  padding: 0; */
}

.cart td {
  padding: 10px 50px;
  border-bottom: 1px solid gray;
}
.cart img {
  width: 80px;
}

.delete {
  background: none;
  cursor: pointer;
}

.but {
  width: 100%;
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  font-size: 30px;
  height: 40px;
  border: tomato;
  border-radius: 30px;
  cursor: pointer;
  background: turquoise;
}
