.inputs {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  line-height: 10px !important;
  margin-top: 40px !important;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.inp1 {
  margin: 20px 200px !important;
  width: 700px;
}

.inp2 {
  margin: 20px 200px !important;
  width: 700px;
}

.inp3 {
  margin: 20px 200px !important;
  width: 700px;
}

.inp4 {
  margin: 20px 200px !important;
  width: 700px;
}

.inp5 {
  margin: 20px 200px !important;
  width: 700px;
}

.inp6 {
  margin: 20px 200px !important;
  width: 700px;
}

.inp7 {
  margin: 20px 200px !important;
  width: 700px;
}

.btnSave {
  width: 200px;
  height: 50px;
  margin-top: 40px !important;
}
