.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 50px;
}

.main_container {
  background-color: #c2d3e9a8;
  justify-content: space-between;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.filter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0575e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #021b79,
    #0575e6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  width: 100%;
  height: 150px;
  border-radius: 25px;
}

.paginationBttns {
  width: 80%;
  height: 10%;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 5% auto;
}

.paginationBttns a {
  padding: 10%;
  margin: 10% 8px;
  border-radius: 5px;
  border: 1.5px solid rgba(0, 145, 212, 0.904);
  color: black;
  cursor: pointer;
  font-size: 1rem;
}

.paginationBttns a:hover {
  color: white;
  background-color: rgba(0, 145, 212, 0.904);
}

.paginationActive a {
  color: white;
  background-color: rgba(0, 145, 212, 0.904);
}
