.product__block-details {
  padding-top: 70px;
  padding-bottom: 70px;
}

.edit123 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 30px;
}

.mySwiper1 .swiper-wrapper {
  justify-content: center;
  background-color: white;
}
.mySwiper1 .swiper-slide {
  /* margin: 40px 0; */
  cursor: pointer;
}
.mySwiper1 .swiper-slide.swiper-slide-thumb-active {
  border-bottom: 5px solid #1b5e20;
}
