.product__block-details {
  padding-top: 70px;
  padding-bottom: 70px;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.mySwiper1 .swiper-wrapper {
  justify-content: center;
  background-color: white;
}
.mySwiper1 .swiper-slide {
  /* margin: 40px 0; */
  cursor: pointer;
}
.mySwiper1 .swiper-slide.swiper-slide-thumb-active {
  border-bottom: 5px solid #1b5e20;
}
